<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centro de convenciones</title>
  <link rel="stylesheet" href="styles.css">
  <script src="scripts.js" defer></script>
</head>
<body>
  <h1>Centro de convenciones</h1>
  <h2>Registro de Empleados</h2>
  <form onsubmit="event.preventDefault();">
    <label for="itemName">Nombre del Empleado:</label>
    <input type="text" id="itemName" name="itemName" required>
    <label for="itemId">ID del Empleado (para obtener, actualizar o eliminar):</label>
    <input type="text" id="itemId" name="itemId">
    <br>
    <button onclick="createItem()">Crear Empleado</button>
    <button onclick="getItems()">Obtener Todos los Empleados</button>
    <button onclick="getItem()">Obtener Empleado</button>
    <button onclick="updateItem()">Actualizar Empleado</button>
    <button onclick="deleteItem()">Eliminar Empleado</button>
  </form>
</body>
</html>
